.hi {
	&__row {
		display: flex;
	}

	&__content {
		flex: 1 1 33%;
		padding-right: 20px;
	}

	&__title {
		margin-top: 336px;

		color: var(--gray-4, #bdbdbd);
		font-family: TT Hoves;
		font-size: 64px;
		font-style: normal;
		font-weight: 300;
		line-height: 64px; /* 100% */

		span {
			font-weight: 700;
			color: var(--gray-1, #333);
		}
	}

	&__btns {
		margin-top: 90px;

		display: flex;
		gap: 23px;

		button {
			width: 53px;
			height: 53px;

			border: 1px solid #f2f2f2;

			background-color: #fff;

			background-image: url(../img/icons/arrow.svg);
			background-position: center;
			background-repeat: no-repeat;

			transition: all 0.3s ease 0s;
		}

		button:last-child {
			transform: rotate(180deg);
			background-color: #f9f9f9;
		}

		button:hover {
			background-color: #33333347;
		}
	}

	&__counter {
		color: var(--gray-4, #bdbdbd);
		font-family: TT Hoves;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 100% */

		display: flex;
		align-items: center;
		gap: 25px;

		margin-top: 90px;
	}

	&__line {
		width: 43.822px;
		height: 2px;
		background: #e0e0e0;

		transform: rotate(-45deg);
	}

	&__slider {
		position: relative;

		max-width: 770px;
		max-height: 829px;
		flex: 1 1 67%;
	}

	&__see-btn {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	.swiper {
		max-height: 829px;
	}
	.swiper-slide {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

@media (max-width: 767px) {
	.hi {
		&__row {
			flex-direction: column;
		}

		&__title {
			margin-top: 25px;

			color: var(--gray-4, #bdbdbd);
			font-family: TT Hoves;
			font-size: 54px;
			font-style: normal;
			font-weight: 300;
			line-height: 64px; /* 100% */

			span {
				font-weight: 700;
				color: var(--gray-1, #333);
			}
		}

		&__btns {
			margin-top: 25px;
		}

		&__counter {
			font-size: 20px;

			gap: 18px;
			margin-top: 25px;
		}

		&__slider {
			margin-top: 25px;
		}
	}
}
